In [ ]:
import pandas as pd

In [ ]:
def replace_column_with_onehot(df, col_name):
    df[col_name] = pd.Categorical(df[col_name])
    dfDummies = pd.get_dummies(df[col_name], prefix=col_name)
    df = pd.concat([df, dfDummies], axis=1)
    df = df.drop(columns=col_name)
    return df

In [ ]:
df = pd.read_csv("default_credit.csv", header=None)

In [ ]:
df = replace_column_with_onehot(df, 1)
df = replace_column_with_onehot(df, 2)
df = replace_column_with_onehot(df, 3)
df = replace_column_with_onehot(df, 5)
df = replace_column_with_onehot(df, 6)
df = replace_column_with_onehot(df, 7)
df = replace_column_with_onehot(df, 8)
df = replace_column_with_onehot(df, 9)
df = replace_column_with_onehot(df, 10)
df = replace_column_with_onehot(df, 23)

In [ ]:
cols = [
    0,
    '1_1',
    '1_2',
    '2_0',
    '2_1',
    '2_2',
    '2_3',
    '2_4',
    '2_5',
    '2_6',
    '3_0',
    '3_1',
    '3_2',
    '3_3',
    4,
    '5_-2',
    '5_-1',
    '5_0',
    '5_1',
    '5_2',
    '5_3',
    '5_4',
    '5_5',
    '5_6',
    '5_7',
    '5_8',
    '6_-2',
    '6_-1',
    '6_0',
    '6_1',
    '6_2',
    '6_3',
    '6_4',
    '6_5',
    '6_6',
    '6_7',
    '6_8',
    '7_-2',
    '7_-1',
    '7_0',
    '7_1',
    '7_2',
    '7_3',
    '7_4',
    '7_5',
    '7_6',
    '7_7',
    '7_8',
    '8_-2',
    '8_-1',
    '8_0',
    '8_1',
    '8_2',
    '8_3',
    '8_4',
    '8_5',
    '8_6',
    '8_7',
    '8_8',
    '9_-2',
    '9_-1',
    '9_0',
    '9_2',
    '9_3',
    '9_4',
    '9_5',
    '9_6',
    '9_7',
    '9_8',
    '10_-2',
    '10_-1',
    '10_0',
    '10_2',
    '10_3',
    '10_4',
    '10_5',
    '10_6',
    '10_7',
    '10_8',
    11,
    12,
    13,
    14,
    15,
    16,
    17,
    18,
    19,
    20,
    21,
    22,
    '23_0',
    '23_1'
]

In [ ]:
data_onehot = df[cols].to_numpy(dtype=np.float32)

In [ ]:
np.savetxt("default_credit_onehot.csv", data_onehot, fmt="%.1f", delimiter=",")